.form-group {
    margin-top: 12px;
}

.my-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 36px;

    &:focus-visible {
        border: 1px solid #2684FF;
        outline: #2684FF;
        box-shadow: 0 0 0 1px #2684FF;
        }
  }

  .invalid-input {
    border: 1px solid rgb(242, 132, 132);
    color: red;

    &::placeholder {
      color: red;
    }
  }