* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

body {
	background-color: #0A1521;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	position:relative;
}

.modal-title {
	font-size: 18px;
}

.group-styles {
	display: "flex";
	align-items: "center";
	justify-content: "space-between";

	.group-badge-styles {
		background-color: "#EBECF0";
		border-radius: "2em";
		color: "#172B4D";
		display: "block";
		font-size: 12;
		font-weight: "normal";
		line-height: "1";
		min-width: 1;
		padding: "0.16666666666667em 0.5em";
		text-align: "center";
	}
}

.form-group {
    margin-top: 0;
}

video::-webkit-media-controls-play-button {
	display: none;
}

.form-check-input:focus {
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(18, 101, 45, 0.25);
}

.form-check-input:checked {
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.Toastify__toast-container--top-right {
    top: 1em;
    right: 2em
;
}

@keyframes pathInovacaoAnimation {
	from {
		stroke: #000;
	}

	to {
		stroke: #00D6B6;
	}
}

@keyframes pathInovacaoLineAnimation {
	from {
		stroke-dasharray: 0;
	}

	to {
		stroke-dasharray: 65;
	}
}

#path_inovacao {
	animation: pathInovacaoAnimation 2s infinite alternate-reverse forwards linear;
}

#path_line_inovacao {
	stroke-dashoffset: 0;
	animation: pathInovacaoLineAnimation 5s infinite alternate-reverse forwards linear;
}

#path_tecnologia {
	stroke-dashoffset: 0;
	animation: pathInovacaoLineAnimation 5s infinite alternate-reverse forwards linear;
}

#path_sustentabilidade {
	stroke-dashoffset: 0;
	animation: pathInovacaoLineAnimation 5s infinite alternate-reverse forwards linear;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-15px);
	}
}

.icon {
	img 
	{
		animation: bounce infinite 3s alternate-reverse linear;
	}
	
}
