.grid-container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1368px) {
        max-width: 1024px;
    }

    @media screen and (max-width: 1280px) {
        max-width: 960px;
    }

    @media screen and (max-width: 1024px) {
        max-width: 780px;
    }

    @media screen and (max-width: 900px) {
        max-width: 100%;
        padding-inline: 60px;
    }
    
}